{{ $directory := "content/" }}
{{ $filename := "book.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="book" id="book">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" $filename }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row">
		<div class="col-xs-12 col-sm-3">

			<a href="{{ .Site.Params.link_ebook }}" class="link_ebook" target="_blank"><img src="/images/kindle_button.png" style="margin-bottom:5px"/></a>

			<img src="{{ with $.Site.GetPage "page" $filename }}{{ .Params.image }}{{ end }}">
		</div>
		<div class="col-xs-0 col-sm-1">
		</div>
        <div class="col-xs-12 col-sm-7">
          {{ with $.Site.GetPage "page" $filename }}
            {{ .Content }}
          {{ end }}
          <p style="margin-top:40px">
          	<a href="/blog/lucy-dada-s01-e01-use-passive-restraint-bitch/"><img src="/images/free_sample.png" style="max-width:300px"/></a>
          	<a href="{{ .Site.Params.link_ebook }}" class="link_ebook" target="_blank"><img src="/images/kindle_button.png" style="max-width:300px"/></a>
        </div>
      </div>
    </div>
  </section>
{{ end }}
