{{ $directory := "content/" }}
{{ $filename := "book.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="book" id="book">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" $filename }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row">
		<div class="col-xs-12 col-sm-3">

			<a href="http://a-fwd.to/5l4YDJw" target="_blank"><img src="/images/kindle_button.png" style="max-width:300px"/></a>
			<br/>

			<img src="{{ with $.Site.GetPage "page" $filename }}{{ .Params.image }}{{ end }}">
		</div>
		<div class="col-xs-0 col-sm-1">
		</div>
        <div class="col-xs-12 col-sm-7">
          {{ with $.Site.GetPage "page" $filename }}
            {{ .Content }}
          {{ end }}
          <p><a href="http://a-fwd.to/5l4YDJw" target="_blank"><img src="/images/kindle_button.png"/></a>
        </div>
      </div>
    </div>
  </section>
{{ end }}
