{{ if .Site.Params.ajaxFormspree }}
<section class="contact" id="extras">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
		<h1>Sign up for more</h1>
		<p>Want to know when the next Lucy Dada book's out? Enter your email. No spam, promise.
		<p>If you've read the book, you can enter the secret code to unlock extra chapters.</p>
      </div>
    </div>

    <form id="gform" class="gform" action="{{ .Site.Params.form_post_url }}" method="POST">
      <div class="row center-xs form-elements">
        <div class="col-xs-12 col-sm-4"><input type="email" name="email" placeholder="Email" required></div>
        <div class="col-xs-12 col-sm-4"><input type="text" name="code" placeholder="Code (optional)"><input type="text" name="honeypot" style="display:none"></div>

        <div class="col-xs-12 col-sm-4 contact-submit">
          <input type="submit" id="form-save" class="btn-CTA" value="Sign up">
        </div>
	  </div>
	  <div class="thankyou_message" style="display:none;">
		<h2>Thanks bitch.</h2>

	  </div>
    </form>

  </div>
</section>
{{ end }}
