{{ if .Site.Params.ajaxFormspree }}
<section class="contact" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
		<h1>Sign up for more</h1>
		<p>Want to be notified about the next Lucy Dada book? Just enter your email (we won't spam you!)
		<p>If you've read the book, enter the secret code to unlock your exclusive extra chapter! 	</p>
      </div>
    </div>

    <form id="gform" class="gform" action="{{ .Site.Params.form_post_url }}" method="POST">
      <div class="row center-xs form-elements">
        <div class="col-xs-12 col-sm-4"><input type="email" name="email" placeholder="Email" required></div>
        <div class="col-xs-12 col-sm-4"><input type="text" name="code" placeholder="Code (optional)"><input type="text" name="honeypot" style="display:none"></div>
        
        <div class="col-xs-12 col-sm-4 contact-submit">
          <input type="submit" id="form-save" class="btn-CTA" value="Sign up">
          <span id="form-thankyou" style="visibility:hidden">Thanks for signing up!</span>
        </div>
	  </div>
	  <div class="thankyou_message" style="display:none;">
		<h2>Thanks for signing up!</h2>
		<p>We will get in touch with some goodies soon.
	  </div>
    </form>

  </div>
</section>
{{ end }}
