<style>
@font-face {
	font-family: 'Bebas Neue';
	src: url('bebasneue-regular-webfont.woff2') format('woff2'),
			url('bebasneue-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

header, nav .logo, #form-save {
	background-color: #23F0C7;
}
header h1, nav .logo a {
	font-family: 'Bebas Neue',"Hel­vetica",Arial,sans-serif;
	color: #fff;
}
header h1 {
	font-size: 25.5vw;
}
nav .logo {
	font-size: 1.3em;
}
h1, h2, h3 {
	font-family: "Rubik","Poppins","Hel­vetica",Arial,sans-serif;
}

.book .container {
	max-width: 80rem;
}
.book h1 {
	margin-bottom: 3rem;
}
.book p {
	font-size: 1.1em;
}
</style>